In [1]:
from datasets import load_dataset
import pandas as pd

In [2]:
dataset = load_dataset("Cohere/wikipedia-22-12-de-embeddings", split="train")
dataset

Resolving data files:   0%|          | 0/108 [00:00<?, ?it/s]

Dataset({
    features: ['id', 'title', 'text', 'url', 'wiki_id', 'views', 'paragraph_id', 'langs', 'emb'],
    num_rows: 14995897
})

In [3]:
dataset = dataset.remove_columns("emb")
df = dataset.to_pandas()
df

,id,title,text,url,wiki_id,views,paragraph_id,langs
0,0,Nekrolog 2022,Dies ist eine Liste von im Jahr 2022 verstorbe...,https://de.wikipedia.org/wiki?curid=12052792,12052792,4016.285400,0,38
1,1,Deutschland,Deutschland (; Vollform des Staatennamens seit...,https://de.wikipedia.org/wiki?curid=1497705,1497705,3953.328369,0,295
2,2,Deutschland,Das heutige Deutschland hat gut 84 Millionen E...,https://de.wikipedia.org/wiki?curid=1497705,1497705,3953.328369,1,295
3,3,Deutschland,Auf dem Gebiet Deutschlands ist die Anwesenhei...,https://de.wikipedia.org/wiki?curid=1497705,1497705,3953.328369,2,295
4,4,Deutschland,Die rasche Entwicklung vom Agrar- zum Industri...,https://de.wikipedia.org/wiki?curid=1497705,1497705,3953.328369,3,295
...,...,...,...,...,...,...,...,...
14995892,14995892,Advanced Information Management Prototype (AIM-P),DB2 komplett in Richtung nativer Unterstützung...,https://de.wikipedia.org/wiki?curid=12485487,12485487,0.000000,124,0
14995893,14995893,Advanced Information Management Prototype (AIM-P),Nachdem sich die eNF-Relationen am Ende bei de...,https://de.wikipedia.org/wiki?curid=12485487,12485487,0.000000,125,0
14995894,14995894,Advanced Information Management Prototype (AIM-P),"Jim Melton, der federführende Editor aller SQL...",https://de.wikipedia.org/wiki?curid=12485487,12485487,0.000000,126,0
14995895,14995895,Advanced Information Management Prototype (AIM-P),Auch wenn sich das ISO-SQL-Gremium nicht dazu ...,https://de.wikipedia.org/wiki?curid=12485487,12485487,0.000000,127,0
14995896,14995896,Advanced Information Management Prototype (AIM-P),Die Entwicklung und Implementierung eines so g...,https://de.wikipedia.org/wiki?curid=12485487,12485487,0.000000,128,0

In [4]:
df.to_pickle("./data/wikipedia-22-12-de-no-emb-raw.pkl.gz", compression="gzip")