In [2]:
import pandas as pd
from mltb2.text import (
    has_invisible_characters,
    has_special_whitespaces,
    clean_all_invisible_chars_and_whitespaces,
)
from tqdm import tqdm

tqdm.pandas()  # activate tqdm pandas progress bar support

In [3]:
df = pd.read_pickle("./data/wikipedia-22-12-de-no-emb-raw.pkl.gz")
df

,id,title,text,url,wiki_id,views,paragraph_id,langs
0,0,Nekrolog 2022,Dies ist eine Liste von im Jahr 2022 verstorbe...,https://de.wikipedia.org/wiki?curid=12052792,12052792,4016.285400,0,38
1,1,Deutschland,Deutschland (; Vollform des Staatennamens seit...,https://de.wikipedia.org/wiki?curid=1497705,1497705,3953.328369,0,295
2,2,Deutschland,Das heutige Deutschland hat gut 84 Millionen E...,https://de.wikipedia.org/wiki?curid=1497705,1497705,3953.328369,1,295
3,3,Deutschland,Auf dem Gebiet Deutschlands ist die Anwesenhei...,https://de.wikipedia.org/wiki?curid=1497705,1497705,3953.328369,2,295
4,4,Deutschland,Die rasche Entwicklung vom Agrar- zum Industri...,https://de.wikipedia.org/wiki?curid=1497705,1497705,3953.328369,3,295
...,...,...,...,...,...,...,...,...
14995892,14995892,Advanced Information Management Prototype (AIM-P),DB2 komplett in Richtung nativer Unterstützung...,https://de.wikipedia.org/wiki?curid=12485487,12485487,0.000000,124,0
14995893,14995893,Advanced Information Management Prototype (AIM-P),Nachdem sich die eNF-Relationen am Ende bei de...,https://de.wikipedia.org/wiki?curid=12485487,12485487,0.000000,125,0
14995894,14995894,Advanced Information Management Prototype (AIM-P),"Jim Melton, der federführende Editor aller SQL...",https://de.wikipedia.org/wiki?curid=12485487,12485487,0.000000,126,0
14995895,14995895,Advanced Information Management Prototype (AIM-P),Auch wenn sich das ISO-SQL-Gremium nicht dazu ...,https://de.wikipedia.org/wiki?curid=12485487,12485487,0.000000,127,0
14995896,14995896,Advanced Information Management Prototype (AIM-P),Die Entwicklung und Implementierung eines so g...,https://de.wikipedia.org/wiki?curid=12485487,12485487,0.000000,128,0

In [4]:
df["text"].progress_apply(has_invisible_characters).value_counts(dropna=False)

100%|██████████| 14995897/14995897 [00:13<00:00, 1143405.42it/s]

text
False    14985201
True        10696
Name: count, dtype: int64

In [5]:
df["text"].progress_apply(has_special_whitespaces).value_counts(dropna=False)

100%|██████████| 14995897/14995897 [00:15<00:00, 941333.71it/s]

text
False    13279760
True      1716137
Name: count, dtype: int64

In [6]:
df["title"].progress_apply(has_invisible_characters).value_counts(dropna=False)

100%|██████████| 14995897/14995897 [00:08<00:00, 1666471.68it/s]

title
False    14995889
True            8
Name: count, dtype: int64

In [7]:
df["title"].progress_apply(has_special_whitespaces).value_counts(dropna=False)

100%|██████████| 14995897/14995897 [00:12<00:00, 1160881.42it/s]

title
False    14995897
Name: count, dtype: int64

In [8]:
df["text"] = df["text"].progress_apply(clean_all_invisible_chars_and_whitespaces)

100%|██████████| 14995897/14995897 [05:40<00:00, 44001.04it/s]

In [9]:
df["title"] = df["title"].progress_apply(clean_all_invisible_chars_and_whitespaces)

100%|██████████| 14995897/14995897 [00:22<00:00, 668801.29it/s]

In [10]:
original_data_len = len(df)
original_data_len

14995897

In [11]:
df.drop_duplicates("text", inplace=True, keep="first")
new_data_len = len(df)
new_data_len

14876607

In [12]:
print("Texts droped:", original_data_len - new_data_len)

Texts droped: 119290

In [13]:
df

,id,title,text,url,wiki_id,views,paragraph_id,langs
0,0,Nekrolog 2022,Dies ist eine Liste von im Jahr 2022 verstorbe...,https://de.wikipedia.org/wiki?curid=12052792,12052792,4016.285400,0,38
1,1,Deutschland,Deutschland (; Vollform des Staatennamens seit...,https://de.wikipedia.org/wiki?curid=1497705,1497705,3953.328369,0,295
2,2,Deutschland,Das heutige Deutschland hat gut 84 Millionen E...,https://de.wikipedia.org/wiki?curid=1497705,1497705,3953.328369,1,295
3,3,Deutschland,Auf dem Gebiet Deutschlands ist die Anwesenhei...,https://de.wikipedia.org/wiki?curid=1497705,1497705,3953.328369,2,295
4,4,Deutschland,Die rasche Entwicklung vom Agrar- zum Industri...,https://de.wikipedia.org/wiki?curid=1497705,1497705,3953.328369,3,295
...,...,...,...,...,...,...,...,...
14995892,14995892,Advanced Information Management Prototype (AIM-P),DB2 komplett in Richtung nativer Unterstützung...,https://de.wikipedia.org/wiki?curid=12485487,12485487,0.000000,124,0
14995893,14995893,Advanced Information Management Prototype (AIM-P),Nachdem sich die eNF-Relationen am Ende bei de...,https://de.wikipedia.org/wiki?curid=12485487,12485487,0.000000,125,0
14995894,14995894,Advanced Information Management Prototype (AIM-P),"Jim Melton, der federführende Editor aller SQL...",https://de.wikipedia.org/wiki?curid=12485487,12485487,0.000000,126,0
14995895,14995895,Advanced Information Management Prototype (AIM-P),Auch wenn sich das ISO-SQL-Gremium nicht dazu ...,https://de.wikipedia.org/wiki?curid=12485487,12485487,0.000000,127,0
14995896,14995896,Advanced Information Management Prototype (AIM-P),Die Entwicklung und Implementierung eines so g...,https://de.wikipedia.org/wiki?curid=12485487,12485487,0.000000,128,0

In [14]:
df.to_pickle("./data/wikipedia-22-12-de-no-emb-clean.pkl.gz", compression="gzip")